.del {
    background: red;
    color: white;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    float: right;
}

.todo {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.complete {
    color: lightgreen;
    background: none;
    border: 1px solid lightgreen;
}

.is-completed {
    text-decoration: line-through;
}