/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #f857a6, #ff5858);
    line-height: 1.4;
    display: flex;
    justify-content: center;
}

form {
    margin-top: 15px;
    width: 90%;
}

.container {
    padding: 0 1rem;
}

